<header class="main-header">
  <div class="logo-container">
    <div class="logo-square">
      <span class="logo-letter">H</span>
    </div>
    <span class="logo-text">Punto H</span>
  </div>
  <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
    <a routerLink="/catalog" routerLinkActive="active">Catálogo</a>
    <a *ngIf="isLoggedIn()" routerLink="/profile" routerLinkActive="active">Perfil</a>
  </nav>
  <div class="header-right">
    <a *ngIf="!isLoggedIn()" routerLink="/login" class="login-btn">Iniciar Sesión</a>
        <button *ngIf="isLoggedIn()" (click)="logout()" class="logout-btn">Cerrar Sesión</button>
  </div>
</header>

<router-outlet></router-outlet>
<app-cart-modal></app-cart-modal>
